<table align="center" cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-spacing:0;border:0;margin-left:auto;margin-right:auto;margin-top:20px;text-align:left;width:320px" width="320">
    <tbody>
        <tr>
            <td align="center" style="border-collapse:collapse;font-size:0;line-height:0;padding:0" width="320">
                <table bgcolor="#ebebeb" border="0" cellpadding="0" cellspacing="0" style="background:#ebebeb;border-collapse:collapse;border-spacing:0;border:0;width:320px" width="320">
                    <tbody>
                        <tr>
                            <td align="center" style="border-collapse:collapse;font-size:0;line-height:0;padding:0" valign="top"></td>
                        </tr>
                        <tr>
                            <td colspan="1" height="6" style="border-collapse:collapse;font-size:0;line-height:0;padding:0" width="100%"> </td>
                        </tr>
                        <tr>
                            <td align="center" style="border-collapse:collapse;color:#363636;font-size:11px;line-height:16px;padding:0;text-align:center"><span class="il"></td>
                        </tr>
                        <tr>
                            <td colspan="1" height="6" style="border-collapse:collapse;font-size:0;line-height:0;padding:0" width="100%"> </td>
                        </tr>
                    </tbody>
                </table>
                <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-spacing:0;border:0">
                    <tbody>
                        <tr>
                            <td align="center" style="border-collapse:collapse;font-size:0;line-height:0;overflow:hidden;padding:0;width:320px" valign="top" width="320">
                                <table cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-spacing:0;border:0">
                                    <tbody>
                                        <tr>
                                            <td style="border-collapse:collapse;font-size:0;line-height:0;padding:0"><img alt="" height="3" src="https://ci4.googleusercontent.com/proxy/GWhj4SAs8YYRjSx_tVCK5C1hQlz7AcfsWvz-vEp9BBGru1TseeO2M-f8YHByG_CuGsmtFVUYkmdNLErjWP7EaukcMeOcs4aCNSCPu-bAJVAdo4fbxFMgw-JmW7LnR-vPg5vZbCx9BN6eYotiEG98Vupk6wmFBQDGrw4hQcBqI28E9m32Lt26J_Nf7ZnMImGG8Y_qWb3ht915yGZI_qIVqMPGRAJZpfpC679iiko_kyHPpKAWaVOwALwRlRL5V99rPsF-N82gt_nGkyU3J3Dq3Gc4OXZzndPqqjpTtBcN5rD8XdXPau8An4rTEjyKq5RaK3hVu_kFebOs9w19Y5FAsy2hWvJbFn9herYRCXSawwdvcUJRACeHHQZWhtkiUr0TG5Jp5ED7xEZO9h-2upypLIwYAYC5cCFrBQr7X4n-NeqUunceld-B72SukpTXC9hhXlmY7QpIUpM4Aw=s0-d-e1-ft#https://d2isyty7gbnm74.cloudfront.net/yiUkp5VW7HW2dH1o8gYhPAiGBOU=/fit-in/640x6/filters:fill(43505e):watermark(https://d3g64w74of3jgu.cloudfront.net/assets/receipt-top-edge-mask-e6bbaf30c69e83509da5153571bd94ca.png,0,0,0):quality(100)/https://d3g64w74of3jgu.cloudfront.net/assets/spacer-239465b1c71b79ae1c276e8ef6c73207.png"
                                                                                                                          style="border:0;display:block" width="320" class="CToWUd"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-spacing:0;border:0;width:100%" width="100%">
                                    <tbody>
                                        <tr>
                                            <td align="center" bgcolor="#43505e" style="background:#43505e;border-collapse:collapse;font-size:0;line-height:0;padding:0;width:320px" valign="middle" width="320">
                                                <table cellpadding="0" cellspacing="0" height="100%" style="border-collapse:collapse;border-spacing:0;border:0;table-layout:fixed;width:100%;word-wrap:break-word" width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td colspan="1" height="35" style="border-collapse:collapse;font-size:0;line-height:0;padding:0" width="100%"> </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="center" style="border-collapse:collapse;color:white;font-family:SQMarket-Regular,HelveticaNeue,Helvetica,Arial,sans-serif;font-size:14px;font-weight:normal;line-height:30px;padding:0 36px;width:100%"
                                                                width="100%">
                                                                <div align="center" style="min-height:80px;margin-bottom:5px;text-align:center;vertical-align:middle;width:80px"><img alt="" border="0" height="80" src="<%= image %>"
                                                                                                                                                                                      style="vertical-align:middle" width="80" class="CToWUd"></div><span style="color:white;font-size:20px;line-height:26px;margin:0"><span class="il"></span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="1" height="21" style="border-collapse:collapse;font-size:0;line-height:0;padding:0" width="100%"> </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="center" height="8" style="border-collapse:collapse;font-size:0;height:8px;line-height:0;padding:0" valign="bottom">
                                                                <div style="border-bottom-color:#546476;border-bottom-style:solid;border-left-color:transparent;border-left-style:solid;border-right-color:transparent;border-right-style:solid;border-width:0 8px 8px;min-height:0;vertical-align:bottom;width:0"></div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table bgcolor="white" cellpadding="0" cellspacing="0" style="background:white;border-collapse:collapse;border-spacing:0;border:0;width:100%" width="100%">
                    <tbody>
                        <tr>
                            <td colspan="1" height="24" style="border-collapse:collapse;color:#363636;font-family:SQMarket-Regular,HelveticaNeue,Helvetica,Arial,sans-serif;font-size:0;font-weight:normal;line-height:0;padding:0" width="100%"> </td>
                        </tr>
                        <tr>
                            <td align="center" style="border-collapse:collapse;color:#363636;font-family:SQMarket-Regular,HelveticaNeue,Helvetica,Arial,sans-serif;font-size:14px;font-weight:normal;line-height:30px;padding:0">
                                <div align="center" style="color:#363636;font-family:SQMarket-Medium,HelveticaNeue-Medium,Helvetica-Bold,Helvetica,Arial,sans-serif;font-size:64px;font-weight:500;line-height:72px;text-align:center;white-space:nowrap"><span style="font-family:SQMarket-Regular,HelveticaNeue,,Helvetica,Arial,sans-serif;font-size:26px;line-height:1;vertical-align:super">$</span><%= amount %></div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1" height="28" style="border-collapse:collapse;color:#363636;font-family:SQMarket-Regular,HelveticaNeue,Helvetica,Arial,sans-serif;font-size:0;font-weight:normal;line-height:0;padding:0" width="100%"> </td>
                        </tr>
                    </tbody>
                </table>
                <table bgcolor="white" border="0" cellpadding="0" cellspacing="0" style="background:white;border-collapse:collapse;border-spacing:0;border:0;width:100%" width="100%">
                    <tbody>
                        <tr>
                            <td bgcolor="#ffffff" style="border-collapse:collapse;font-size:0;line-height:0;padding:0"><img alt="" border="0" height="1" src="https://ci4.googleusercontent.com/proxy/QoQHcFtSHZQ36-hElJaHREN5X2kwMc2IZoVtPkLYU6uqsP4YJ_8RNnIhex6jeOIE_1LEfctTenZ7JngQltAsIdSN-PGXE-PIp-g3Jfqf3KW4aA4wwLzeuj662n7NZymqcXWNGMgTX3PnDWh395E=s0-d-e1-ft#https://d3g64w74of3jgu.cloudfront.net/assets/spacer-239465b1c71b79ae1c276e8ef6c73207.png"
                                                                                                                            style="font-size:0;line-height:0" width="20" class="CToWUd"></td>
                            <td style="border-collapse:collapse;font-size:0;line-height:0;padding:0">
                                <table bgcolor="white" border="0" cellpadding="0" cellspacing="0" style="background:white;border-collapse:separate;border-spacing:0;border:0;table-layout:fixed;width:100%;word-wrap:break-word" width="100%">
                                    <tbody>
                                        <tr>
                                            <td align="center" style="border-collapse:collapse;font-size:0;line-height:0;padding:0" valign="top"></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" height="1" style="border-collapse:collapse;font-size:0;line-height:0;padding:0" width="100%"> </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" height="1" style="border-collapse:collapse;border-top-color:#e0e1e2;border-top-style:dashed;border-top-width:1px;font-size:0;line-height:0;padding:0"><img alt="" border="0" height="1" src="https://ci4.googleusercontent.com/proxy/QoQHcFtSHZQ36-hElJaHREN5X2kwMc2IZoVtPkLYU6uqsP4YJ_8RNnIhex6jeOIE_1LEfctTenZ7JngQltAsIdSN-PGXE-PIp-g3Jfqf3KW4aA4wwLzeuj662n7NZymqcXWNGMgTX3PnDWh395E=s0-d-e1-ft#https://d3g64w74of3jgu.cloudfront.net/assets/spacer-239465b1c71b79ae1c276e8ef6c73207.png"
                                                                                                                                                                                                        style="font-size:0;line-height:0" width="1" class="CToWUd"></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" height="10" style="border-collapse:collapse;font-size:0;line-height:0;padding:0" width="100%"> </td>
                                        </tr>
                                        <tr>
                                            <td align="left" style="border-collapse:collapse;font-size:0;line-height:0;padding:0;width:207px" valign="top" width="207">
                                                <div style="color:#363636;font-family:SQMarket-Regular,HelveticaNeue,'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:14px;font-weight:normal;line-height:24px;margin:0;padding:0;width:207px">Application Fee</div>
                                            </td>
                                            <td align="right" style="border-collapse:collapse;font-size:0;line-height:0;padding:0;width:88px" valign="top" width="88">
                                                <div style="color:#363636;font-family:SQMarket-Regular,HelveticaNeue,'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:14px;font-weight:normal;line-height:24px;margin:0;padding:0">$<%= application_fee %></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" height="11" style="border-collapse:collapse;font-size:0;line-height:0;padding:0" width="100%"> </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" height="1" style="border-collapse:collapse;border-top-color:#e0e1e2;border-top-style:dashed;border-top-width:1px;font-size:0;line-height:0;padding:0"><img alt="" border="0" height="1" src="https://ci4.googleusercontent.com/proxy/QoQHcFtSHZQ36-hElJaHREN5X2kwMc2IZoVtPkLYU6uqsP4YJ_8RNnIhex6jeOIE_1LEfctTenZ7JngQltAsIdSN-PGXE-PIp-g3Jfqf3KW4aA4wwLzeuj662n7NZymqcXWNGMgTX3PnDWh395E=s0-d-e1-ft#https://d3g64w74of3jgu.cloudfront.net/assets/spacer-239465b1c71b79ae1c276e8ef6c73207.png"
                                                                                                                                                                                                        style="font-size:0;line-height:0" width="1" class="CToWUd"></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" height="11" style="border-collapse:collapse;font-size:0;line-height:0;padding:0" width="100%"> </td>
                                        </tr>
                                        <tr>
                                            <td align="left" style="border-collapse:collapse;font-size:0;line-height:0;padding:0;width:207px" width="207">
                                                <div style="color:#363636;font-family:SQMarket-Regular,HelveticaNeue,'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:14px;font-weight:normal;line-height:24px;margin:0;padding:0;width:207px">User Email</div>
                                            </td>
                                            <td align="right" style="border-collapse:collapse;font-size:0;line-height:0;padding:0;width:88px" width="88">
                                                <div style="color:#363636;font-family:SQMarket-Regular,HelveticaNeue,'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:14px;font-weight:normal;line-height:24px;margin:0;padding:0"><%= user_email %></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" style="border-collapse:collapse;font-size:0;line-height:0;padding:0;width:207px" width="207">
                                                <div style="color:#363636;font-family:SQMarket-Regular,HelveticaNeue,'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:14px;font-weight:normal;line-height:24px;margin:0;padding:0;width:207px">Duration</div>
                                            </td>
                                            <td align="right" style="border-collapse:collapse;font-size:0;line-height:0;padding:0;width:88px" width="88">
                                                <div style="color:#363636;font-family:SQMarket-Regular,HelveticaNeue,'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:14px;font-weight:normal;line-height:24px;margin:0;padding:0"><%= duration %></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" height="11" style="border-collapse:collapse;font-size:0;line-height:0;padding:0" width="100%"> </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" height="1" style="border-collapse:collapse;border-top-color:#e0e1e2;border-top-style:dashed;border-top-width:1px;font-size:0;line-height:0;padding:0"><img alt="" border="0" height="1" src="https://ci4.googleusercontent.com/proxy/QoQHcFtSHZQ36-hElJaHREN5X2kwMc2IZoVtPkLYU6uqsP4YJ_8RNnIhex6jeOIE_1LEfctTenZ7JngQltAsIdSN-PGXE-PIp-g3Jfqf3KW4aA4wwLzeuj662n7NZymqcXWNGMgTX3PnDWh395E=s0-d-e1-ft#https://d3g64w74of3jgu.cloudfront.net/assets/spacer-239465b1c71b79ae1c276e8ef6c73207.png"
                                                                                                                                                                                                        style="font-size:0;line-height:0" width="1" class="CToWUd"></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" height="11" style="border-collapse:collapse;font-size:0;line-height:0;padding:0" width="100%"> </td>
                                        </tr>
                                        <tr>
                                            <td align="left" style="border-collapse:collapse;font-size:0;line-height:0;padding:0;width:207px" width="207">
                                                <div style="color:#363636;font-family:SQMarket-Regular,HelveticaNeue,'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:14px;font-weight:normal;line-height:24px;margin:0;padding:0;width:207px">User name</div>
                                            </td>
                                            <td align="right" style="border-collapse:collapse;font-size:0;line-height:0;padding:0;width:88px" width="88">
                                                <div style="color:#363636;font-family:SQMarket-Regular,HelveticaNeue,'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:14px;font-weight:normal;line-height:24px;margin:0;padding:0"><%= user_name %></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" height="22" style="border-collapse:collapse;font-size:0;line-height:0;padding:0" width="100%"> </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td bgcolor="#ffffff" style="border-collapse:collapse;font-size:0;line-height:0;padding:0"><img alt="" border="0" height="1" src="https://ci4.googleusercontent.com/proxy/QoQHcFtSHZQ36-hElJaHREN5X2kwMc2IZoVtPkLYU6uqsP4YJ_8RNnIhex6jeOIE_1LEfctTenZ7JngQltAsIdSN-PGXE-PIp-g3Jfqf3KW4aA4wwLzeuj662n7NZymqcXWNGMgTX3PnDWh395E=s0-d-e1-ft#https://d3g64w74of3jgu.cloudfront.net/assets/spacer-239465b1c71b79ae1c276e8ef6c73207.png" style="font-size:0;line-height:0" width="20" class="CToWUd"></td>
                        </tr>
                    </tbody>
                </table>
                <table bgcolor="white" cellpadding="0" cellspacing="0" style="background:white;border-collapse:collapse;border-spacing:0;border:0;table-layout:fixed;width:100%;word-wrap:break-word" width="100%">
                    <tbody>

                    <td colspan="1" height="15" style="border-collapse:collapse;font-size:0;line-height:0;padding:0" width="100%"> </td>
        </tr>
        <tr>
            <td align="center" style="border-collapse:collapse;font-size:0;line-height:0;padding:0">
                <table align="center" cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-spacing:0;border:0">
                    <tbody>
                        <tr>
                        	<td align="center" height="42" style="border-collapse:collapse;font-size:0;height:42px;line-height:0;padding:0;text-align:center;vertical-align:middle;width:46px" valign="middle" width="46">
                                <a href="https://www.facebook.com/" style="text-decoration:none;vertical-align:middle" target="_blank"><img alt="Facebook icon" border="0" height="34" src="https://ci6.googleusercontent.com/proxy/Z0nUwH_4vW6Q8a576rI6c8LGVQDgBAwW4q6Bhue6jjughct9GzEpWb7_uF5jk-zV0YBaOMhwP-JjwRZ3lv7jNJ_JKe8h-xK4nI0qY2-31twS8-YcjCktWM45XQ905CmU77CgS8AaABwLV87IpAf5A8pwNeDL=s0-d-e1-ft#https://d3g64w74of3jgu.cloudfront.net/assets/facebook-icon-7833de1c2e354c41921a539c15be248f.png" style="display:inline-block;vertical-align:middle" width="34"></a>
                            </td>
                            <td align="center" height="42" style="border-collapse:collapse;font-size:0;height:42px;line-height:0;padding:0;text-align:center;vertical-align:middle;width:46px" valign="middle" width="46">
                                <a href="https://twitter.com/"
                                   style="text-decoration:none;vertical-align:middle" target="_blank"><img alt="Twitter icon" border="0" height="34" src="https://ci4.googleusercontent.com/proxy/S9fPGj3eZPSt87SBHy5S8Qg6JqTSmRyqvpDz0_pkSOh7cYGHr-abfZcPOIrlzTHH0oB2cKZw7uINj9ri80dTxDhoGFO_l4SDiWQIzGv2HWqoVWNOFuFYHNFvvwAKuPSOtJTxvX021TQn-VkNqZL-Gz877XM=s0-d-e1-ft#https://d3g64w74of3jgu.cloudfront.net/assets/twitter-icon-f532f01541325952228c676d90229e75.png" style="display:inline-block;vertical-align:middle" width="34"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
</td>
</tr>
</tbody>
</table>
